
/*
 * <%= pkg.name %> v<%= pkg.version %> - <%= grunt.template.today("yyyy-mm-dd") %>
 * <<%= pkg.homepage %>>
 *
 * Copyright (c) <%= grunt.template.today("yyyy") %> <%= pkg.author.name %>
 *
 * Licensed under the <%= pkg.licenses[0].type %>.
 * <<%= pkg.licenses[0].url %>>
 */

