<%= pkg.name %> [![Build Status](https://travis-ci.org/cytb/simple-autoreload-server.png?branch=master)](https://travis-ci.org/cytb/simple-autoreload-server)
========================

A simple Web server on Node.js with Live/Autoreload feature.
  - Reload statically on update the html files
  - Refresh dynamically on update the files like css, js, png, and etc.
  - No browser extensions (but the WebSocket) are needed. 

Command Line Usage
----
```sh
autoreload [optoins] [root-dir] [port]
```

Command Line Options
----

option | default | description
:--- | :--- | :---
<%
  options
  .generateCommandlineHelp()
  .forEach(function(opt){
    var def = (opt[2] != null) ? ('`' + opt[2] + '`') : '';

%>`<%= opt[0] %>` | <%= def %> | _<%= opt[1] %>_
<%
  });
%>


#### Example

```sh
autoreload -w "\\.(html|css|js)" ./site-files 8008
```

Module Usage (Example)
----
```
var launcher = require('<%= pkg.name %>');

var server = launcher({
  port: 8008,
  root: './',
  listDirectory: true,
  watch: /\.(png|js|html|json|swf)$/i,
  forceReload: [/\.json$/i, "static.swf"]
});
```

#### Options

See 'src/lib/options.ls' for details of options.


Version
----
<%= pkg.version %>

Installation
--------------
install this package via 'npm'.

```sh
npm install simple-autoreload-server
```

License
----
<%
  pkg.licenses.forEach(function(l){
    %>[<%= l.type %>]
<%
  });
%>

[<%= pkg.name %>]:<%= pkg.homepage %>
<%
  pkg.licenses.forEach(function(l){
    %>[<%= l.type %>]:<%= l.url %>
<%
  });
%>



