<%= pkg.name %> [![Build Status](https://travis-ci.org/cytb/simple-autoreload-server.png?branch=master)](https://travis-ci.org/cytb/simple-autoreload-server)
========================

A simple Web server on Node.js with Live/Autoreload feature.
  - Reload statically on update the html files
  - Refresh dynamically on update the files like css, js, png, and etc.
  - No browser extensions are needed. (uses only WebSocket.)

Usage
----
  1. Install simple-autoreload-server via npm.
     (e.g. npm install simple-autoreload-server)

  2. Start autoreload-server from command line.
     (e.g. autoreload-server -d ./ -p 8080)

  3. Open server url with your browser.
     (e.g. iexplore http://localhost:8080/)

Command Line Usage
----
```sh
autoreload-server [options] [root-dir] [port]
```

Overview of Command Line Options
----

option | default | help
:--- | :--- | :---
<%
  options.forEach(function(opt){
    if( opt.nocli ){ return; }
    var option = ("--"+opt.label) + (opt.short ? (", -"+opt.short) : "");
    var def    = (opt.def != null) ? ('`' + opt.def + '`') : '';
    var help   = opt.help;

%>`<%= option %>` | <%= def %> | _<%= help %>_
<%
  });
%>


#### Example

```sh
autoreload-server -w "**/**.{html,css,js}" ./site-files 8008
```

Module Usage (Example)
----
```
var launcher = require('<%= pkg.name %>');

var server = launcher({
  port: 8008,
  path: './',
  listDirectory: true,
  watch:  "*.{png,js,html,json,swf}"
  reload: "{*.json,static.swf}"
});
```

Client Module Usage
----
See examples, and "src/client.ls" for details.

#### Options

See [Options.md](./Options.md) for details.

Version
----
<%= pkg.version %>

Installation
--------------
install this package via 'npm'.

```sh
npm install simple-autoreload-server
```

License
----
<%= pkg.license %>

[<%= pkg.name %>]:<%= pkg.homepage %>

